<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/favicon.ico">
        <link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/stylus/styles.css">
        <link rel="stylesheet" href="/css/stylus/archive/styles.css">
        <title>Aral Balkan: Historical Archive&#8202;—&#8202;{{POST_TITLE}}</title>
    </head>
    <body>
        <header>
            <a href='/'><h1>Aral Balkan</h1></a>
            <h2>Design thinking + open source = freedom for mere mortals.</h2>
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><span class="current-page">{{POST_TITLE}}</span></li>
            </ul>
        </nav>

        <section id="archiveDisclaimer">
            <strong>Historical content:</strong> I wrote this article over {{POST_AGE}} on {{POST_DATE}}. You are viewing an archived post from my old WordPress blog. The archive contains over 1,500 articles written over a ten year period. The formatting and contents of the posts may not display perfectly.
        </section>

        <div role="main">
            <h2>{{POST_TITLE}}</h2>
            <section id="post">
            {{POST_CONTENT}}
            </section>
            <!-- Comments -->
            {{COMMENTS}}
        </div>

        <footer>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/archive">Archive</a></li>
                    <li><span class="current-page">{{POST_TITLE}}</span></li>
                </ul>
            </nav>

            <section id="copyright">
                <small><a href='http://indiewebcamp.com'>Hand rolled</a> in <a href='http://www.openstreetmap.org'>Brighton</a> using <a href='http://aralbalkan.com/notes/responsive-pixels/'>responsive pixels</a> and love. Set in <a href='http://www.typography.com/fonts/sentinel/overview/'>Sentinel</a>. Copyright © 2003–2013 Aral Balkan. Unless otherwise stated, all content is <a href='http://creativecommons.org/licenses/by-nc-sa/2.0/uk/deed.en_US'>Attribution-NonCommercial-ShareAlike 2.0 UK: England &amp; Wales</a> and all code is <a href='http://opensource.org/licenses/MIT'>MIT</a> licensed. <a href="http://www.flickr.com/photos/cvonposer/6401515437" title="Aral Balkan">Photo of Aral</a> courtesy of <a href="http://www.flickr.com/photos/cvonposer/" title="Christina von Poser Photostream">Christina von Poser</a>.</small>
            </section>
        </footer>


        <script type="text/javascript">
            //
            // Hack: Safari has a rendering bug and doesn’t render -webkit-font-smoothing
            // ===== correctly. So, it’s set to subpixel-antialiased by default and I
            //       turn it off for Chrome as a progressive enhancement. Firefox doesn’t
            //       support any font smoothing options but Firefox users probably don’t
            //       have much aesthetic taste to begin with so I doubt they’ll notice.
            //
            if (navigator.userAgent.indexOf("Chrome/") != -1) {
                var timeTags = document.getElementsByTagName("time");
                  for (var i=0; i<timeTags.length; i++) {
                    timeTags[i].style.webkitFontSmoothing = 'none';
                }
            }

            // Hack: Firefox is an ass.
            if (navigator.userAgent.indexOf("Firefox/") != -1) {
                var timeTags = document.getElementsByTagName("time");
                  for (var i=0; i<timeTags.length; i++) {
                    timeTags[i].style.paddingTop = '0.125rem';
                }
            }

            // Gaug.es analytics.
            var _gauges = _gauges || [];
            (function() {
                var t   = document.createElement('script');
                t.type  = 'text/javascript';
                t.async = true;
                t.id    = 'gauges-tracker';
                t.setAttribute('data-site-id', '4f0f72dbcb25bc4e6d000009');
                t.src = '//secure.gaug.es/track.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(t, s);
            })();

        </script>
    </body>
</html>